<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/cart.css}" rel="stylesheet">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap');
    </style>
    <title>Корзина</title>
</head>
<body class="body">
<div class="container">
    <header class="header">
        <div class="left-part">
            <a href="/" class="logo"><span>DPI</span></a>
            <div class="catalog-menu">
                <span class="catalog-style">Каталог</span>
                <span class="row"></span>
                <ul class="dropdown" id="categoryDropdown">
                    <li th:each="category : ${categories}"><a th:href="@{'/catalog/' + ${category.id}}"
                                                              th:text="${category.name}"></a></li>
                </ul>
            </div>
        </div>
        <div class="search-panel">
            <input type="text" class="search-input" placeholder="Поиск...">
            <button class="search-button"></button>
        </div>
        <div class="right-part">
            <a class="cart-button" th:href="@{/cart}"></a>
            <a class="profile-button" th:href="@{/profile}"></a>
        </div>
    </header>
    <main style="margin-top: 20px;">
        <div class="cart-content">
            <div class="products">
                <span style="font-size: 24px;">Корзина</span>
                <div class="product-card" th:each="product : ${products}">
                    <a th:href="@{'/product/' + ${product.id}}" class="product">
                        <img th:src="${product.imageUrl}">
                        <span th:text="${product.name}"></span>
                    </a>
                </div>
            </div>
            <div class="bonus-section">
                <span class="bonus-have" th:text="'Доступно бонусов: ' + ${user.bonuses}"></span>
                <span>Списать?: <input type="checkbox" class="licvidation-bonuses"></span>
            </div>
            <span class="total-price">Общая сумма:</span>
            <div style="display: flex; justify-content: flex-end;">
                <button class="reg-order-button">Оформить</button>
            </div>
        </div>
    </main>
</div>
<footer class="footer">
    <div class="container">
        <div class="footer-style">
            <div class="footer-logo">
                <span class="logo-style-footer">DPI</span>
            </div>
            <span class="text-style-footer">твой магазин электроники <br> и бытовой техники</span>
            <div class="footer-info-style">
                <span class="text-style-footer"><a href="/policy-confidence"
                                                   class="a">Политика конфиденциальности</a></span>
                <span class="text-style-footer"><a href="/about-us" class="a">О компании </a></span>
                <span class="text-style-footer">г.Казань</span>
                <span class="text-style-footer">+79175682293</span>
            </div>
        </div>
    </div>
</footer>
<script th:src="@{/js/dropDownList.js}" defer></script>
</body>
</html>