<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/orders.css}" rel="stylesheet">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap');
    </style>
    <title>Мои заказы</title>
</head>
<body class="body">
<div class="container">
    <header class="header">
        <div class="left-part">
            <a href="/" class="logo"><span>DPI</span></a>
            <div class="catalog-menu">
                <span class="catalog-style">Каталог</span>
                <span class="row"></span>
                <ul class="dropdown" id="categoryDropdown">
                    <li th:each="category : ${categories}"><a th:href="@{'/catalog/' + ${category.id}}"
                                                              th:text="${category.name}"></a></li>
                </ul>
            </div>
        </div>
        <div class="search-panel">
            <input type="text" class="search-input" placeholder="Поиск...">
            <button class="search-button"></button>
        </div>
        <div class="right-part">
            <a th:href="@{/cart}" class="cart-button"></a>
            <a th:href="@{/profile}" class="profile-button"></a>
        </div>
    </header>
    <main>
        <div style="max-width: 1000px; display: flex; margin: 0 auto;">
            <span class="orders-label">Мои заказы</span>
        </div>
        <div class="orders-content">
            <div class="order-card" th:each="order : ${orderMap}">
                <div class="header-card">
                    <span class="order-number" th:text="'Заказ №' + ${order.key.id}"></span>
                </div>
                <div class="main-content" style="min-height: 50px;">
                    <ul style="list-style-type: none;">
                        <li style="margin: 5px;" th:each="product : ${order.value}" th:text="${product}"></li>
                    </ul>
                </div>
                <div class="footer-card">
                    <span class="status-label" th:text="'Статус:&nbsp;' + ${order.key.status}"></span>
                    <span class="order-price" th:text="'Сумма заказа:&nbsp;' + ${order.key.totalPrice}"></span>
                </div>
            </div>
        </div>
    </main>
</div>
<footer class="footer">
    <div class="container">
        <div class="footer-style">
            <div class="footer-logo">
                <span class="logo-style-footer">DPI</span>
            </div>
            <span class="text-style-footer">твой магазин электроники <br> и бытовой техники</span>
            <div class="footer-info-style">
                <span class="text-style-footer"><a href="/policy-confidence"
                                                   class="a">Политика конфиденциальности</a></span>
                <span class="text-style-footer"><a href="/about-us" class="a">О компании </a></span>
                <span class="text-style-footer">г.Казань</span>
                <span class="text-style-footer">+79175682293</span>
            </div>
        </div>
    </div>
</footer>
<script th:src="@{/js/dropDownList.js}" defer></script>
</body>
</html>