<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/registration.css}">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap');
    </style>
    <title>Регистрация</title>
</head>
<body>
    <main>
        <div class="registr">
            <span class="registr-label">Регистрация</span>
            <form th:action="@{/registration}" th:object="${user}" method="post" class="registr-form">
                <div th:if="${mainFieldError}" class="global-error">
                    <p th:text="${mainFieldError}"></p>
                </div>
                <input class="input-style" type="text" th:field="*{name}" placeholder="Имя">
                <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="error"></div>
                <input class="input-style" type="text" th:field="*{surname}" placeholder="Фамилия">
                <div th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}" class="error"></div>
                <input class="input-style" type="email" th:field="*{email}" placeholder="Почта">
                <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error"></div>
                <input class="input-style" type="tel" th:field="*{phoneNumber}" placeholder="Телефон">
                <div th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}" class="error"></div>
                <input class="input-style" type="password" th:field="*{passwordHash}" placeholder="Пароль">
                <div th:if="${#fields.hasErrors('passwordHash')}" th:errors="*{passwordHash}" class="error"></div>
                <button class="registr-btn" type="submit">Зарегистрироваться</button>
            </form>
            <a th:href="@{/login}" class="login-link">Есть аккаунт?</a>
        </div>
    </main>
</body>
</html>