<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/registration.css}">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap');
    </style>
    <title>Регистрация</title>
</head>
<body>
    <main>
        <div class="registr">
            <span class="registr-label">Регистрация</span>
            <form action="" method="post" class="registr-form">
                <input class="input-style" type="text" placeholder="Имя">
                <input class="input-style" type="text" placeholder="Фамилия">
                <input class="input-style" type="email" placeholder="Почта">
                <input class="input-style" type="tel" placeholder="Телефон">
                <input class="input-style" type="password" placeholder="Пароль">
                <button class="registr-btn" type="submit">Зарегистрироваться</button>
            </form>
            <a th:href="@{/login}" class="login-link">Есть аккаунт?</a>
        </div>
    </main>
</body>
</html>